body{
    border: 0;
    padding: 0;
    margin: 0;
    background: rgb(42,37,111);
    background: linear-gradient(90deg, rgba(42,37,111,1) 10%, rgba(70,29,253,1) 50%, rgba(42,37,111,1) 90%);
    height: 98vh;
    width: 99vw;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    justify-items: center;
}

@media (max-width: 500px) {
    .container{
        width: 500px;
    }

}

.container-answers{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap:10px;
}

.logo img{
    width: 50vh;
    padding: 5vh;
}

.statement{
    align-items: center;
    display: block;
    margin: block start 1.33em; ;
}

.question{
    width: 60vh;
    height: 40px;
    background-color:rgba(255,255,255,0.3);
    border-radius: 10px;
    text-align: center;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


.answers{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    padding: 1vh;
}

.answer a{
    background-color: rgb(0, 0, 0);
    text-decoration: none;
    border-radius: 100%;
    align-items: center;
    color: white;
}

a{
   text-decoration: none; 
   color: black;
}
.answer{
    margin: 10px;
    background-color: rgba(255, 255, 255, 0.3);
    width: 25vh;
    margin-bottom: 0;
    border-radius: 5px;
    justify-content: center;
    justify-items: center;
    align-items: center;
}

.assistance{
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 50px; 
    cursor: pointer;
}

.help{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.answ{
    cursor: pointer;
    margin-right: 5px;
}

h4{
    text-transform: uppercase;
}
.img{
    width: 60px;
}