<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/style.css">
    <title>Quien quiere ser millonario</title>
</head>
<body>
    <div class="container">
        <div class="container-answers">
            <div class="logo">
                <img src="../img/logo.png" alt="">
            </div>
            <div class="question" id="question">
                <h4>Pregunta</h4>
            </div>
            <div class="answers">
                
                <div class="answer"><a class="answer" id="answerA" href="#">A</a>A</div>
                <div class="answer"><a class="answer" id="answerB" href="#">B</a>B</div>
                <div class="answer"><a class="answer" id="answerC" href="#">C</a>C</div>
                <div class="answer"><a class="answer" id="answerD" href="#">D</a>D</div>
            </div>
        </div>
        <div class="assistance">
            <div class="help" id="public"><a href="#"><img src="../img/publico.png" alt=""></a></div>
            <div class="help" id="fifty"><a href="#"><img src="../img/dividido.png" alt=""></a></div>
            <div class="help" id="friends"><a href="#"><img src="../img/amigo.png" alt=""></a></div>
             
        </div>
    </div>
    <script src="../js/script.js"></script>
</body>
</html>